.iq-button-wrapper {
  margin-bottom: 1rem;
  width: 100%;

  .btn {
    display: block;
    margin-bottom: $iq-margin-small;
    width: 100%;

    @include media-breakpoint-up(sm) {
      display: inline-block;
      width: auto;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
