<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="iqies-footer-content">
          <div class="row">
            <div class="col">
              <div class="iqies-footer-heading">
                <img src="../../src/assets/images/logo-iqies-reversed.svg"
                  class="logo iqies-logo" />
                <img src="../../src/assets/images/logo-cms.svg"
                  class="img-fluid logo cms-logo d-lg-none" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="">Link 1</a>
              <a href="">Link 2</a>
              <a href="">Link 3</a>
              <a href="">Link 4</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="">Link 5</a>
              <a href="">Link 6</a>
              <a href="">Link 7</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 d-flex align-items-center">
        <img src="../../assets/images/logo-cms.svg"
          class="logo cms-logo d-none d-lg-block" alt="CMS Logo" />
      </div>
    </div>
  </div>
</footer>
