<!-- Default -->
<div class="iqies-page-heading">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            [ Page Title ]
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-7 col-md-10">
                <h1>[ Page Heading ]</h1>
                <p class="lead">[ Page description text ]</p>
            </div>
        </div>
    </div>
</div>

<!-- Inverted with buttons -->
<div class="iqies-page-heading inverted">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            [ Page Title ]
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-7">
                <h1>[ Page Heading ]</h1>
                <h3 class="iqies-page-subheading">[ Page Subheading ]</h3>
                <p class="lead iqies-lead-two">[ Page Description ]</p>
            </div>
            <div class="col-md-5">
                <button class="btn btn-primary">Button</button>
            </div>
        </div>
    </div>
</div>