<h3>[ Table Title ]</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="sortable">Column 1</th>
            <th class="sortable">Column 2</th>
            <th class="sortable">Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
    </tbody>
</table>