@charset "UTF-8";
/* TYPOGRAPHY */

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #50565E; }
h1 { font-weight: 400; }
h2 { font-size: 1.875rem; font-weight: 400; }
h3 { font-size: 1.5rem; font-weight: 400;}
h4 { font-size: 1.25rem; font-weight: 400; }
h5 { font-size: 1rem; font-weight: 700; }
p, .form-group { margin-bottom: 2rem; }

/* LISTS */
ul li, ol li { padding: .5rem 0; }
ul.iq-inline-list { list-style: none; margin-left: 0; padding-left: 0;  }
ul.iq-inline-list li { display: inline-block; margin-right: 0; list-style: none; margin-left: 0; padding-left: 0; }

/* GENERAL UTILITIES */
.container-fluid { padding: 0 4rem;}
@media (max-width: 768px) {
	.container-fluid { padding: 0 .5rem; }
	.hide-for-medium { display: none; }
}
@media (max-width: 414px) {
	.container-fluid { padding: 0 .5rem; }
	.hide-for-small { display: none; }
}
.float-right { float: right; }
hr { margin-bottom: 2rem; }
.edit-view, .read-view { display: none; }
.edit-view.active, .read-view.active { display: block; }
.hide { display: none !important; }
.iq-not-available, .iqies-not-available  { color: #5B616B; font-style: italic; }
.no-info { font-size: 1rem; font-weight: 400; color: #5B616B; }

h2 small.top { font-size: 1rem; font-weight: 400; color: #222; }
small.bottom { font-size: 1rem; font-weight: 400; display: block;}
small.bottom .iq-not-available { margin-left: 0; }
.card-header small.bottom { margin-bottom: .5rem; }

.card.iq-card { margin-bottom: 1rem; }
.iq-nav { margin-bottom: 2rem; }

.card-title { margin-bottom: 2rem;  }
h5.card-title { margin-bottom: 2rem; font-size: 1.25rem; }
h5.card-title a { margin-bottom: 1rem; }
.card-title small { color: #212121; display: block; margin-top: .325rem; }
.card dl dt { font-size: .875rem; margin-bottom: .25rem; }
.card dl dd { margin-bottom: 1rem; }
.card dl dd a { }
.card { margin-bottom: 1rem;}
.card dd ul { margin-left: 0; padding-left: 1.25rem; }
.card dd ul li { margin-bottom: 0; padding: 0; }
@media (min-width: 576px) {
.card-deck .card { margin-bottom: 1rem; }
}

 /*.ui-widget-content.ui-autocomplete { background-color: white; color: #212121; border: 1px solid #ddd; box-shadow: 1px 1px 2px rgba(0,0,0,0.1); }
 div.tooltip, .ui-widget-content, .ui-helper-hidden-accessible div { background-color: #212121; color: white; }
.tooltip .tooltip-inner { border: 1px solid #f0f0f0; } */

.has-tooltip { border-bottom: 1px dashed #212121 !important; cursor: default;}
.has-tooltip:hover { text-decoration: none !important; border-bottom: 1px solid #212121 !important; }
.iq-page-header-wrapper.inverted .has-tooltip { border-bottom: 1px dashed #fff !important; }
.iq-page-header-wrapper.inverted a.has-tooltip { border-bottom: 1px dashed #9bdaf1 !important; }
.iq-page-header-wrapper.inverted a.has-tooltip:hover { text-decoration: none !important; border-bottom: 1px solid #9bdaf1 !important; }

/* BANNER */
header { padding: 0; }
.iq-global-nav .dropdown:not(:last-of-type), .iq-global-nav .iq-assessments-link { padding: 2.25em 0 1.75em 0; }
.iq-global-nav { box-shadow: none;}
.iq-page-header-wrapper { margin-bottom: 3rem; }
.iq-page-header { height: auto; padding: 1rem 0;  }
.iq-page-header h1 { display: block; 
    white-space: nowrap; max-width: 40rem; line-height: 2.75rem;
    overflow: hidden; text-overflow: ellipsis; vertical-align: bottom; }
.iq-page-header .breadcrumb { margin-bottom: 1rem;}
.iq-page-header-contact a { display: inline-block; }
.iq-page-header-contact { padding: 0 1.5rem;}
.breadcrumb { margin-bottom: 2rem;}
li.breadcrumb-item a, .iq-page-header-details a { 
    text-decoration: none; 
    color: #0071bc; display: inline-block; 
    white-space: nowrap; max-width: 15rem; 
    overflow: hidden; text-overflow: ellipsis; vertical-align: bottom;
}
li.breadcrumb-item a:hover, .iq-page-header-details a:hover { text-decoration: underline; }
li.breadcrumb-item span { display: inline-block; 
    white-space: nowrap; max-width: 15rem; 
    overflow: hidden; text-overflow: ellipsis; vertical-align: bottom; }
.iq-return-link { margin-top: -1.5rem; margin-bottom: 2rem; }
.iq-nav-user-icon:hover, .iq-nav-user-icon .btn:hover, .iq-nav-user-icon:active, .iq-nav-user-icon:active .btn { background-color: #0071bc; text-decoration: none; color: #fff;  }
.iq-nav-user-icon .btn { font-weight: normal; padding: 0; }
.iq-nav-user-icon:hover a:hover p, .iq-nav-user-icon .btn:hover p, .iq-nav-user-icon:active p { color: white; }

ul.nav { margin: 0; padding: 0; }
ul.nav li { padding: 0; margin: 0; }

/* SUMMARY BAR */
.iq-summary-bar-data ul { margin-bottom: 0; padding-left: 1rem; }
.iq-summary-bar-data ul li { padding: 0;  }
.iq-summary-bar-data:nth-child(5) { border-right: 1px solid #d6d7d9; }
.iq-summary-bar-data:last-child { border-right: 0; }

/* FOOTER */
footer { padding: 1.75rem 0; }
.iq-footer-content span { color: white; }
.iq-footer-content a { font-weight: 400; ; }
footer.short-footer { padding: 1rem; }
footer.short-footer .iq-footer-content a { margin-bottom: 0; display: block; }
footer.short-footer .iq-footer-content { display: block; height: 100%; }

/* LABELS */
label { font-weight: 700; display: block; margin-bottom: .5rem; }
label.custom-control-label { font-weight: 400; }
label input, label select, label textarea { margin-top: .5rem; }
.iqies-label { font-weight: bold; }
label.iq-inline-label { font-weight: normal; font-size: .9rem; display: inline; color: #555; }
label.iq-inline-label:after { content: ': '; margin-right: .25rem; }
.iqies-label-responsive { display: none !important;}

/* FORM INPUTS */
input:not([type=checkbox]):not([type=radio]), select, textarea, .form-control { 
    display: block;
    width: 100%;
    height: calc(1.375em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #AEB0B5;
    border-radius: 0.1875rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:not([type=checkbox]):not([type=radio]):disabled, select:disabled, textarea:disabled, .form-control:disabled { background-color: #d6d7d9; border: 1px solid #AEB0B5; opacity: 1;}
button[aria-disabled=true], input[aria-disabled=true], select[aria-disabled=true] { background-color: #d6d7d9; border: 1px solid #AEB0B5; opacity: 1; cursor: not-allowed }
input[type=text]:read-only, input[type=date]:read-only { border: 0; background-color: #f1f1f1;  }
input[type=text].read-only-text:read-only { border: 0; background-color: #fff; padding: 0; color: #212121; }
input[type=text]:read-only:focus, input[type=date]:read-only:focus, textarea:read-only:focus { outline: none; }
.input-group > .form-control { width: 1% !important; }
.iqies-required-text { font-size: .875rem; margin-bottom: 2rem; }
fieldset { margin-bottom: 1.5rem; }
p.info-text { margin-bottom: 1rem; }
.custom-control-label::before { border-width: 1px; }

fieldset legend.iq-form-group-title, .accordion .iq-form-group-title { font-size: 1.5rem; font-weight: 400;}

.iq-conditional-content { margin-top: -1rem; margin-bottom: 2rem; padding-bottom: 0; }

/* HELP TEXT */
.help-text, .form-text { font-size: .8125rem; color: #5B616B; display: block; font-weight: normal; margin-top: .25rem;}
.help-text ul { padding-left: 1rem; }
.help-text h6 { margin-bottom: 0; }


/* FROALA TEXT EDITOR */
.second-toolbar a#logo { float: right; margin-right: .75rem; }
.second-toolbar span.fr-counter { float: left; }
.second-toolbar { display: none; }
.fr-wrapper { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

/* FORM ERROR HANDLING */
label .iq-required-text { font-weight: normal; font-size: .875rem; color: #5b616b; }
.iq-input-error, input.iq-input-error, input.form-control.iq-input-error  { border: 1px solid #e31c3d; }
.iq-input-error-msg { color: #cd2026; font-size: .8125rem; margin-top: .5rem; font-weight: normal;}
.iq-input-error-msg::before, .iq-input-info-msg::before { float: left; display: block; font-family: "Font Awesome 5 Pro"; font-weight: 700; margin-right: .5rem; height: 100%; line-height: 1.5rem; }
.iq-input-error-msg a { text-decoration: none; }
.iq-input-error-msg a:hover { text-decoration: underline; }

.iq-input-info-msg { color: #212121; font-size: .8125rem; margin-top: .5rem; font-weight: normal; }




/* FILE ATTACHMENT */
.form-control-file {
    opacity: 0;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
}
.file-attachment-card { padding: 1.5rem 2rem 0 2rem; background-color: #f8f8f8; margin-bottom: 1rem;}
.file-attachment-card h3 { font-size: 1.25rem; margin-bottom: 1rem; }
.file-attachment-card h3 i, .file-attachment-card h3 span { margin-right: .5rem; }
.file-attachment-card .file-description { padding-left: 3rem; }



/* SIDE NAV / LEFT NAV */
.nav ul, nav ul { list-style: none; margin: 0; padding: 0; }
.nav ul li, nav ul li { padding: 0; }
.nav ul li a, nav ul li a { text-decoration: none !important; }

.nav:not(.nav-tabs) .nav-link:hover { text-decoration: none !important; }
.has-subnav:after { font-family: "Font Awesome 5 Pro"; font-weight: 100; float: right; content: '\f078'; }
.has-subnav.expanded:after { content: '\f077'; }
.nav-link.iq-subnav { padding-left: 2.5rem; }
.nav-link.iq-subnav.active { padding-left: 2rem !important; }
.nav:not(.nav-tabs) .nav-link.dark {
    border-left: 8px solid #AEB0B5;
}

#iq-proto-sidebar-wrapper .list-group-title {  margin: 0 1rem; padding: 0.5rem; font-weight: bold; list-style: none; }
#iq-proto-sidebar-wrapper .list-group-title a { font-weight: bold; }




/* HORIZONTAL TAB
.nav.nav-horizontal { border-bottom: 1px solid #D6D7D9; margin-bottom: 1rem; }
.nav.nav-horizontal:not(.nav-tabs) .nav-link { border-bottom: 0; color: #0A71B9; padding: 1rem 2rem; }
.nav.nav-horizontal:not(.nav-tabs) .nav-link.active, .nav.nav-horizontal .nav-link.active { border-bottom: 4px solid #0071bc; padding-left: 2rem; border-left: 0; color: #212121; } */

/* HORIZONTAL TAB PARENT */
.nav.nav-horizontal { border-bottom: 1px solid #D6D7D9; margin-bottom: .75rem; }
.nav.nav-horizontal:not(.nav-tabs) .nav-link { color: #212121 !important; padding: 1rem 2rem; border: 1px solid #d6d7d9; border-bottom: 0; border-top-left-radius: .25rem; border-top-right-radius: .25rem; margin-right: .25rem; background-color: #f1f1f1;    }
.nav.nav-horizontal:not(.nav-tabs) .nav-link.active, .nav.nav-horizontal .nav-link.active { border: 1px solid #D6d7d9; border-bottom: 0;  padding-left: 2rem;  color: #212121; margin-bottom: -0.0625rem; border-top-left-radius: .25rem; border-top-right-radius: .25rem; border-top: 3px solid #0071bc; background-color: #fff;  }
.nav.nav-horizontal .nav-link:first-child { margin-left: 1rem; }

/* HORIZONTAL CHILD/SUB TAB */
.nav.nav-horizontal.child-tab { margin-bottom: 2rem; border-bottom: 1px solid #D6D7D9; }
.nav.nav-horizontal.child-tab:not(.nav-tabs) .nav-link { color: #212121 !important; padding: .5rem 1.5rem; margin-bottom: .75rem; margin-right: .25rem; border: 0; background-color: transparent; }
.nav.nav-horizontal.child-tab:not(.nav-tabs) .nav-link.active, .nav.nav-horizontal.child-tab .nav-link.active { border-bottom: 0; padding-left: 1.5rem; border-left: 0; color: #212121; background-color: #f1f1f1; border-radius: .25rem;  }
.nav.nav-horizontal.child-tab .nav-link:first-child { margin-left: 0rem; }
.tab-content { margin-bottom: 2rem; padding-top: 1rem;  }




/* LIST ROW */
.iqies-list-row {
    border-top: 1px solid #d6d7d9;
    padding: 2rem 0;
}
.iqies-list-row-header { /*margin-bottom: 2rem;*/ }
.iqies-list-table-row { margin-bottom: 1.5rem; width: 100%; }
.iqies-list-table-row tr:nth-child(odd) { background-color: #f8f8f8; }
.iqies-list-table-row td { padding: 1rem; }
.iqies-list-table-row td:first-child { width: 40%; }
.iqies-list-table-row td p { margin-bottom: 0;}


/* MODAL */
.modal-title { font-size: 1.25rem; }
.modal-wrapper { background-color: #595959; padding: 2rem; margin: 0 auto;   }
.modal-header { padding: 2rem 2rem 0 2rem; border-bottom: 0; margin-bottom: -.5rem;}
.modal-header .modal-title { margin-bottom: 0; }
.modal-header .close { font-size: 2.5rem; font-weight: 100; line-height: 1rem; margin-right: -1.5rem; }
.modal-body .close { position: absolute; top: 2rem; right: 1.5rem; margin-left: 1rem; font-size: 2.5rem !important; font-weight: 100; line-height: 1rem; }

/* CARD STRIPED LIST */
.iq-list { margin-bottom: 2rem; padding: 0; }
.iq-list p, iq-list label { margin-bottom: 0; }
.iq-list ul { list-style-position: inside; padding-left: 0;}
.iq-list ul li, .iq-list ol li { padding: 0; }
.iq-list > div > div { padding: 1rem; }
@media (max-width: 768px) { 
    .iq-list > div > div.iq-label, .iq-list > div > div label { margin-bottom: -.5rem; padding-bottom: 0; }
}

.iq-list div.row { margin-left: 0; margin-right: 0;  }
.iq-list > div:nth-of-type(odd){ background-color: #f8f8f8; }
.iq-list > div:last-child { border-bottom: 1px solid #f1f1f1; }

.iq-list-buttons { text-align: right; }
.iq-list-buttons .btn { float: right; margin-left: 1rem; white-space: nowrap; }

/* TAG or BADGE */
.badge.badge-pill { background-color: #E1F3F8; color: #112E51; font-size: .875rem; vertical-align: middle;}
.badge.badge-pill span { line-height: 1.25rem; vertical-align: middle;}
.badge.badge-pill:hover, .badge.badge-pill:hover .close { background-color: #112E51; color: white; }
.badge.badge-pill .close { font-size: 1.25rem; line-height: 1rem; font-weight: 100;  margin-left: .5rem; opacity: .75;  }
.badge.badge-pill .close:hover { background-color: #112E51; color: #fff; opacity: 1;  }

/* ACCORDION */
.accordion-wrapper { margin-bottom: 2rem; }
/* adding arrows to accordion */
.iq-accordion-label:before { float: left; display: block; font-family: "Font Awesome 5 Pro"; font-weight: 100; margin-right: .5rem; height: 100%; margin-top: .0625rem; content: '\f054'; font-size: 1.125rem; color: #5B616B; }
.iq-accordion-label.expanded:before { content: '\f078'; margin-right: 0; }

/* hover styles */
.iq-accordion .card-header:hover { background-color: #f1f1f1; }
.iq-accordion .card-header button.btn-block:hover, .iq-accordion .btn-link.btn-block:focus { text-decoration: none;  }
.iq-accordion .card-header .btn-block > i { font-weight: 200; font-size: 1.25rem; margin-right: 1rem; }

/* accordion spacing between from each other */
.iq-accordion { margin-bottom: .5rem; }

/* secondary accordion */
.iq-accordion.secondary > .card > .card-header button span { font-weight: normal;}
.iq-accordion.secondary > .card > .card-header button span span.iq-label { font-weight: bold; display: block; margin-bottom: .5rem; margin-left: 0; }
.iq-accordion.secondary.data-focus > .card > .card-header button span { font-weight: 700; }
.iq-accordion.secondary.data-focus > .card > .card-header button span label { font-weight: normal !important; }
.iq-accordion.secondary.data-focus > .card > .card-header button span span.iq-description { display: block; font-weight: normal !important; margin-left: 0; margin-bottom: .5rem;}

/* tertiary accordion */
.iq-accordion.tertiary > .card > .card-header { font-weight: 400; font-size: 1.5rem; background-color: #f7f7f7;  }
.iq-accordion.tertiary > .card > .card-header button.btn-block { font-weight: 400; font-size: 1.5rem; }
/*.iq-accordion.tertiary .card-body .card-header .btn-block small { font-size: .875rem; font-weight: normal; } */
.iq-accordion.tertiary { margin-bottom: 1rem;}

/* action buttons */
div.iq-accordion-actions { color: #d8d8d8; font-weight: normal; font-size: 1rem; }
.iq-accordion .card-header .iq-accordion-actions button, .iq-accordion .card-header .iq-accordion-actions .btn { padding: 0.438rem 1rem; margin-left: 0; }

/* show/hide link */
.iq-accordion.showhide .card-header:hover { background-color: transparent; }
.iq-accordion.showhide .card-header button.btn-block:hover, .iq-accordion.showhide .card-header .btn-link.btn-block:focus { text-decoration: underline; }
.iq-accordion .card.no-border .card-body button, .iq-accordion .card.no-border .card-body .btn { padding: 0.438rem 1rem; margin-right: 1rem; }


/* ACCORDION BUTTONS */
.iq-accordion .card-header .btn .iq-accordion-title { font-weight: 400 !important; }
.iq-accordion .card.no-border .card-header .iq-button-wrapper button {
    padding: .438rem 1rem; 
    color: #0071bc;
    border-color: #0071bc;
    font-weight: 700; 
}
.iq-accordion .card.no-border .card-header .iq-button-wrapper button:hover {
    color: white;
}
.iq-accordion .card.no-border .card-body .iq-button-wrapper .btn.btn-primary { color: white; }
.iq-accordion .card.no-border .card-header > button { 
    color: #0071bc;
    font-weight: 400;
    padding: 0;
}


/* TABLE */
.table-wrapper { overflow: hidden; width: 100%; }
table.table-striped { border: 0; overflow: auto; width: 100%;}

table th, .table td { border-top: 0; }
table thead th { border-bottom: 1px solid #D8D8D8; border-top: 1px solid #D8D8D8; white-space: normal; }
table tbody td { border-bottom: 1px solid #F1F1F1; }
table tbody td a { text-decoration: none; }
table tbody td a:hover { text-decoration: underline; }
table tbody td ul { list-style-position: outside; padding-left: 1.25rem; margin: 0; }
table tbody td li { padding: 0; margin-bottom: .5rem; }
.table thead th.sortable span {
    display: inline-block;
    background: url('../images/icon-sort-default.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem;
}
.table thead th.sortable.descending span {
    background-image: url('../images/icon-sort-descending.svg');
}
.table thead th.sortable.ascending span {
    background-image: url('../images/icon-sort-ascending.svg');
}
table tbody td.currency, .table thead th.currency { text-align: right; }
table tbody td.count, .table thead th.count { text-align: right; }
table tbody td .custom-control { margin-bottom: 0; }
table p { margin-bottom: 0; }
table .iqies-list-button-group { margin: -.5rem 0; white-space: nowrap; color: #aeb0b5; text-align: left !important; }
table .iqies-list-button-group a { margin: auto .5rem;}

table.dataTable thead th {
	border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    white-space: normal;
	padding: 1.2rem;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc { background: none; }
table.dataTable thead .sorting span { 
	display: inline-block;
    background: url('../images/icon-sort-default.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem; 
}
table.dataTable thead .sorting_desc span {
    display: inline-block;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem; 
	background-image: url('../images/icon-sort-descending.svg');
}
table.dataTable thead .sorting_asc span {
    background-image: url('../images/icon-sort-ascending.svg');
	display: inline-block;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem; 
}
table.dataTable.display tbody td, table.dataTable tbody td { padding: 1.2rem; vertical-align: top; border-bottom: 1px solid #F1F1F1; border-top: 0; }
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd { background-color: #f8f8f8; }
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 { background-color: #f8f8f8; }
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 { background-color: #fff; }
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover { background-color: #fff; }
table.dataTable.stripe tbody tr.odd:hover, table.dataTable.display tbody tr.odd:hover { background-color: #f8f8f8; }
table.dataTable.no-footer { border-bottom: 0; margin-bottom: 2rem;  }
.dtr-title { font-weight: 600; }
.dtr-title:after { content: ': '; font-weight: 600;  } 
tr.child ul { list-style: none; margin-top: -0.5rem; padding-top: 0;  }
tr.child ul li { border-bottom: 0; padding: .5rem 1rem; margin: 0;  }
tr.child ul li:last-child { border-bottom: 0; }
table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before {
    height: 1rem;
	width: 1rem; 
	display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1rem;
    content: '+';
    background-color: #0071BC;
    font-weight: 700;
}
table.dataTable.dtr-column>tbody>tr.parent td.control:before, table.dataTable.dtr-column>tbody>tr.parent th.control:before {
content: '-';
background-color: #112E51;
}

table.dataTable thead th.search-col { background-color: #fcf9e1; }
 table.dataTable tbody td.search-col {
	background-color: #fcf9e1; border-bottom: 1px solid #E7E8EB !important; 
}

/* PAGINATION */
.pagination { margin: -1rem 0 2rem; }
.page-item .page-link { padding: .5625rem 1.2rem;}
.page-item .page-link.previous:before { font-family: "Font Awesome 5 Pro"; font-weight: 100; font-size: 1.25rem; vertical-align: middle; margin-right: .5rem; content: '\f053'; }
.page-item .page-link.first:before { font-family: "Font Awesome 5 Pro"; font-weight: 100; font-size: 1.25rem; vertical-align: middle;  margin-right: .5rem; content: '\f323'; }
.page-item .page-link.last:after { font-family: "Font Awesome 5 Pro"; font-weight: 100; font-size: 1.25rem; vertical-align: middle;  margin-left: .5rem; content: '\f324'; }
.page-item .page-link.next:after { font-family: "Font Awesome 5 Pro"; font-weight: 100; font-size: 1.25rem; vertical-align: middle;  margin-left: .5rem; content: '\f054'; }
.page-item span.page-link { line-height: 1.375rem; }


/* ALERTS */
div.alert { margin-bottom: 2rem;}
.alert-content { display: block; flex-direction: row; line-height: 1.5rem; width: 100%; }
.alert-content h2 { font-size: 1rem; font-weight: bold; margin-bottom: .25rem; }
.alert-content p { margin-bottom: 0; }
.alert button.close { display: flex; flex-direction: column; padding-top: .25rem; }
.alert button.close:hover { opacity: 1; }
.alert-content::before { float: left; display: block; font-family: "Font Awesome 5 Pro"; font-weight: 700; margin-right: .5rem; height: 100%; margin-top: .0625rem;  }
.alert-info .alert-content::before, .iq-input-info-msg::before, .toast.alert-info .toast-header strong::before { 
    content: '\f05a';
    color: #02BFE7; /* secondary alt */
}
.alert-success .alert-content::before, .toast.alert-success .toast-header strong::before { 
    content: '\f058';
    color: #2E8540; /* success */
}
.alert-warning .alert-content::before, .toast.alert-warning .toast-header strong::before { 
    content: '\f06a';
    color: #FDB81E; /* warn */
}
.alert-danger .alert-content::before, .iq-input-error-msg::before, .toast.alert-danger .toast-header strong::before { 
    content: '\f057';
    color: #CD2026; /* error dark */
}
.alert-content ul { margin-bottom: 0; padding-left: 3rem; line-height: 1rem; }
.alert .close, .alert button.close { font-size: 2rem !important; font-weight: 100; line-height: 1rem; }
.toast-header .close, .dropdown-menu .close { font-size: 2rem !important; font-weight: 100; line-height: 1rem;}
.dropdown-menu { height: 41vh; overflow: auto; }
.dropdown-menu .close { margin-top: 0rem; margin-right: .5rem;}
.dropdown-menu.text-content { padding: .75rem 0 .5rem .5rem; box-shadow: 1px 1px 2px rgba(0,0,0,0.1); }
.dropdown-menu ul { margin: 0 2.25rem 0 0; padding-left: 1.25rem;}
.dropdown-menu li { list-style-position: outside; padding: 0; }
.dropdown-menu.text-content li { margin-bottom: .5rem; }

/* TOAST */
.toast { background-color: white; max-width: 350px; }
.toast-header  strong::before { float: left; display: block; font-family: "Font Awesome 5 Pro"; font-weight: 700; margin-right: .5rem; height: 100%; margin-top: .0625rem;  }
.toast-header { background-color: transparent; }
.toast-header strong { font-size: 1rem; }

.toast-header small { margin-bottom: 0; }
.toast-body { font-size: 1rem; padding-left: 2.5rem;  }

/* ICON Color */
.fas.success { color: #2E8540; }
.fas.danger { color: #CD2026; }
.fas.warning { color: #FDB81E; }
.fas.info { color: #02BFE7; }

/* LOCATIONS AND BUILDINGS STATUS */
i.status-lime, em.status-lime { color: lime;  }
i.status-blue, em.status-blue  { color: #0071bc;  }
i.status-white, em.status-white { color: #02bfe7;  }
i.status-gray, em.status-gray { color: #d6d7d9; }
.btn-link small.bottom i, .btn-link small.bottom em { margin-right: .25rem; }

/* INPUT GROUP */
.input-group { margin-bottom: 2rem; }
.input-group input.form-control { height: auto; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.input-group .btn { border-top-left-radius: 0; border-bottom-left-radius: 0;  }
.input-group-help-text { margin-top: -1.75rem; margin-bottom: 2rem; }
.input-group .form-group { margin-right: .5rem; margin-bottom: 0; }
.input-group span.help-text { margin-top: -.25rem;}


/* BUTTONS AND LINKS */
.btn-success::before, .btn-outline-success::before, .btn-info::before, .btn-warning::before, .btn-danger::before, .btn-outline-danger::before, .btn-link.danger::before   { float: left; display: block; font-family: "Font Awesome 5 Pro"; font-weight: 700; margin-right: .5rem; height: 100%; }
.btn-success::before, .btn-outline-success::before, .btn-link-success::before { 
    content: '\f058';
}
.btn-info::before { 
    content: '\f05a';
}
.btn-warning::before { content: '\f06a'; }
.btn-danger::before, .btn-outline-danger::before, .btn-link.danger::before { 
    content: '\f057';
}

.btn.btn-sm { font-weight: 400; }
.btn-link.danger { color: #e31c3d; }
.page-link img { height: 16px; margin-right: .5rem; margin-left: .5rem }
.btn-link i, .btn-link em { margin-right: 1rem; }

/* LINKS */
a.map-link i { float: left; margin-top: .25rem; }
a.map-link span { display: inline-block !important; padding-left: .5rem !important; }
a.infoTooltip:before {
    font-family: "Font Awesome 5 Pro"; font-weight: 200; margin-left: 1rem; content: '\f05a'; color: #212121; 
}
a.infoTooltip:hover { font-weight: 700; }
a.add-link:before { font-family: "Font Awesome 5 Pro"; font-weight: 100; margin-right: 1rem; content: '\f055'; }
a.return-link:before { font-family: "Font Awesome 5 Pro"; font-weight: 100; margin-right: 1rem; content: '\f053'; }

/* BUTTON WRAPPERS */
.iqies-button-wrapper { margin-bottom: 2rem; padding: 1rem 0; }
.iq-button-wrapper { padding: 1rem 0; }
.iq-button-col .btn { margin-right: 1rem;}


/* BUTTON GROUP */
.iq-b button { margin-right: 0; border-radius: 0; margin: 0; margin-left: -.32rem; }
.iq-btn-group button:first-child { border-top-left-radius: 0.1875rem; border-bottom-left-radius: 0.1875rem; }
.iq-btn-group button:last-child { border-top-right-radius: 0.1875rem; border-bottom-right-radius: 0.1875rem; }

.btn-group button, .iq-accordion .card.no-border .card-body .btn-group button { margin-right: 0; color: #212121; border: 1px solid #AEB0B5; font-weight: 500; }
.btn-group button.active, .iq-accordion .card.no-border .card-body .btn-group button.active { background-color: #D6D7D9; }
.btn-group button:hover, .iq-accordion .card.no-border .card-body .btn-group button:hover { background-color: #212121; border: 1px solid #212121; color: white; }
 
.iqies-list-button-group .btn { 
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    padding: .5rem;
    width: auto;
}
.iqies-list-button-group span {
    color: #d6d7d9;
}


/* STEPPER */
.iq-stepper { padding-top: 0; margin-top: 0; position: relative; }
.iq-stepper legend { position: absolute; bottom: -1rem; }
.iq-stepper ol { list-style: none; margin: 0 0 2rem 0; padding: 0; }
.iq-stepper li { display: inline-block; margin-right: .5rem;}
.iq-stepper li div {
    background-color: #D6D7D9; height: .75rem; width: 12rem; display: inline-block; 
}
.iq-stepper li.active div {
    background-color: #0071BC; 
}


/* SPINNER */
.spinner-border-sm { vertical-align: text-top; margin-top: .25rem; }

/* PROTOTYPE MENU */
#iq-proto-wrapper {
    padding-left: 210px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media (max-width: 768px) { 
	#iq-proto-wrapper {
    padding-left: 0;
	}
}
#menu-toggle {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 9999;
    display: block;
}
#iq-proto-sidebar-wrapper .list-group {
    margin-top: 4.5rem;
}
#iq-proto-sidebar-wrapper {
    z-index: 8888;
    position: fixed;
    overflow-x: hidden;
    left: 210px;
    width: 210px;
    overflow-y: auto;
    margin-left: -210px;
    background-color: #112E51;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    color: #fff;
}
#iq-proto-sidebar-wrapper .list-group .list-group-item {
    background-color: transparent;
    border: 0;
    margin: 0 1rem;
    padding: 0.5rem;
}
#iq-proto-sidebar-wrapper a {
    color: #fff;
    opacity: .8;
    text-decoration: none;
    font-weight: 300;
}

div.divider { border-left: 1px solid #d8d8d8; margin-left: 0rem; padding-left: 2rem;  }

label.inline { font-weight: normal; font-size: .845rem; display: inline-block; color: #555; }

/* MULTI-SELECT */
.dashboardcode-bsmultiselect ul.form-control { height: auto; padding: 1px .25rem !important; margin-bottom: 0; min-height: 2.25rem !important;}
.dashboardcode-bsmultiselect ul li.badge { background-color: #E1F3F8; color: #112E51; font-size: .875rem; vertical-align: middle; line-height: 1.5rem !important; height: 2rem; margin-right: .5rem; margin-bottom: .125rem; }
.dashboardcode-bsmultiselect ul li.badge span { line-height: 1.5rem !important; vertical-align: top; padding-left: .5rem;}
.dashboardcode-bsmultiselect ul li.badge:hover, .badge.badge-pill:hover .close { background-color: #112E51; color: white; }
.dashboardcode-bsmultiselect ul li.badge .close { font-size: 1.25rem !important; line-height: 1rem !important; font-weight: 100 !important;  margin-left: 0 !important; opacity: .75 !important; margin-bottom: 0 !important; margin-right: 0 !important; padding: .125rem .5rem !important; margin-top: -.25rem;}
.dashboardcode-bsmultiselect ul li.badge .close:hover { background-color: #112E51; color: #fff; opacity: 1;  }

.dashboardcode-bsmultiselect ul.dropdown-menu li { padding: .5rem 1rem !important; }
.dashboardcode-bsmultiselect ul.dropdown-menu li div.custom-control { margin-bottom: 0; }
.dashboardcode-bsmultiselect .dropdown-menu .px-2.text-primary.bg-light { background-color: #f1f1f1 !important; color: #212121 !important;  }
.dashboardcode-bsmultiselect ul.form-control li:last-child { padding: 0; }
.dashboardcode-bsmultiselect ul.form-control li > input { margin-bottom: 0; height: 2rem !important; }

