 /* NOTE: Custom prototype CSS goes in this file */

 body {
   overflow-y: scroll;
   overflow-x: hidden;
 }

 main {
   min-height: calc(100vh - 285px);
   padding-bottom: 3rem;
 }

 header {
   margin-bottom: 20px;
 }

 section {
   margin-bottom: 50px;
 }
