 /* NOTE: Custom prototype CSS goes in this file */

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
    url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Bold-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold-webfont.woff") format("woff"),
    url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype");
  font-weight: 700;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 285px);
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
}

section {
  margin-bottom: 50px;
}

.iq-proto-heading {
  font-weight: 700;
}

/* Components Sidebar Menu */

#menu-toggle {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 9999;
  display: block;
}

#iq-proto-wrapper {
  padding-left: 210px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#iq-proto-wrapper.toggled {
  padding-left: 0;
}

#iq-proto-wrapper.toggled #iq-proto-sidebar-wrapper {
  width: 0;
}

#iq-proto-sidebar-wrapper {
  z-index: 8888;
  position: fixed;
  overflow-x: hidden;
  left: 210px;
  width: 210px;
  overflow-y: auto;
  margin-left: -210px;
  background-color: #112E51;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
  color: #fff;
}

#iq-proto-sidebar-wrapper .list-group {
  margin-top: 4.5rem;
}

#iq-proto-sidebar-wrapper .list-group .list-group-item {
  background-color: transparent;
  border: 0;
  margin: 0 1rem;
  padding: 0.5rem;
}

#iq-proto-sidebar-wrapper a {
  color: #fff;
  opacity: .8;
  text-decoration: none;
  font-weight: 300;
}

#iq-proto-sidebar-wrapper a:hover {
  opacity: 1;
}

/* Additions by Htet Htet */
.hha h1 small, .hha h2 small, .hha h3 small, .hha h4 small, .hha h5 small, .hha h6 small { color: #50565E; }
.hha h1 { font-weight: 400; }
.hha h2 { font-size: 1.875rem; font-weight: 400; }
.hha h3 { font-size: 1.5rem; font-weight: 400;}
.hha h4 { font-size: 1.25rem; font-weight: 400; }
.hha h5 { font-size: 1rem; font-weight: 400; }
.hha p, .hha .form-group { margin-bottom: 2rem; }
.hha label { font-weight: 700; display: block;}
.hha label.custom-control-label { font-weight: 400; }
.hha .iqies-required-text { font-size: .875rem; margin-bottom: 2rem; }
.hha fieldset { margin-bottom: 1.5rem; }
.hha p.infoText { margin-bottom: 1rem; }
.editView, .readView { display: none; }
.editView.active, .readView.active { display: block; }
label input, label select { margin-top: .5rem; }
div.alert { margin-bottom: 2rem;}

.hide { display: none !important; }
.hha .noInfo { font-size: 1rem; font-weight: 400; color: #5B616B; }


.iqies-label { font-weight: bold; }
.nav:not(.nav-tabs) .nav-link:hover { text-decoration: none !important; }
.iqies-button-wrapper { margin-bottom: 1.5rem; }
.iqies-list-row {
    border-top: 1px solid #d6d7d9;
    padding: 2rem 0;
}
.iqies-list-row-header {
margin-bottom: 2rem;
}
.iqies-list-table-row {
margin-bottom: 1.5rem;
width: 100%;
}
.iqies-list-table-row tr:nth-child(odd) {
background-color: #f8f8f8;
}
.iqies-list-table-row td {
padding: 1rem;
}
.iqies-list-table-row td:first-child {
    width: 40%;
}
.iqies-list-table-row td p { margin-bottom: 0;}
.iq-conditional-content { margin-top: -1rem; margin-bottom: 2rem; padding-bottom: 0; }

.help-text, .form-text { font-size: .8rem; color: #5B616B; display: block; margin-top: .25rem;}
.btn-link.danger { color: #e31c3d; }

h2 small.top { font-size: 1rem; font-weight: 400; color: #222; }
small.bottom { font-size: 1rem; font-weight: 400; display: block;}
.iqies-not-available { color: #5b616b; font-style: italic; }
.form-control-file {
    opacity: 0;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
}
.file-attachment-card { padding: 2rem 2rem 0 2rem; background-color: #f8f8f8; margin-bottom: 1rem;}
.file-attachment-card h3 { font-size: 1.25rem; margin-bottom: 2rem; }
.file-attachment-card h3 i, .file-attachment-card h3 span { margin-right: .5rem; }
.file-attachment-card .file-description { padding-left: 3rem; }
label .iq-required-text { font-weight: normal; font-size: .875rem; color: #5b616b; }
.iq-input-error { border: 1px solid #e31c3d; }
.iq-input-error-msg { color: #cd2026; font-size: .8125rem; margin-top: .5rem; }

.alert-danger .alert-content i { color: #e31c3d;  }
.alert-content ul li { padding: .25rem 0; }
.alert-content ul { margin-bottom: 0; padding-left: 1.25rem;  }

.nav-link.iq-subnav { padding-left: 2.5rem; }
.nav-link.iq-subnav.active { padding-left: 2rem !important; }

.iq-summary-bar-data:last-child { border-right: 0; }

.nav.nav-horizontal { border-bottom: 1px solid #D6D7D9; margin-bottom: 1rem; }
.nav.nav-horizontal:not(.nav-tabs) .nav-link { border-bottom: 0; color: #0A71B9; padding: 1rem 2rem; }
.nav.nav-horizontal:not(.nav-tabs) .nav-link.active, .nav.nav-horizontal .nav-link.active { border-bottom: 4px solid #0071bc; padding-left: 1.25rem; border-left: 0; color: #202020; }

.table-wrapper { overflow: hidden; width: 100%; }
table.table-striped { border: 0; overflow: auto; width: 100%;}
.table th, .table td { border-top: 0; }
.table thead th { border-bottom: 1px solid #D8D8D8; border-top: 1px solid #D8D8D8; }
.table tbody td { border-bottom: 1px solid #F1F1F1; }
.table thead th.sortable span {
    display: inline-block;
    background: url('../images/icon-sort-default.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem;
}
.table thead th.sortable.descending span {
    background-image: url('../images/icon-sort-descending.svg');
}
.table thead th.sortable.ascending span {
    background-image: url('../images/icon-sort-ascending.svg');
}

/*.table tbody td, .table thead th { text-align: center; }
.table tbody td:first-child, .table thead th:first-child { text-align: left; }*/
.table tbody td.currency, .table thead th.currency { text-align: right; }
.table tbody td.count, .table thead th.count { text-align: right; }

.iq-list { margin-bottom: 2rem; padding: 1rem; }
.iq-list p { margin-bottom: 0; }
.iq-list > div > div { padding: 1rem; }
.iq-list > div:nth-of-type(odd){ background-color: #f8f8f8; }