@font-face {
    font-family: "Open Sans";
    src: 
        url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
        url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    src: 
        url("../fonts/OpenSans-Bold-webfont.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold-webfont.woff") format("woff"),
        url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype");
    font-weight: 700;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Open Sans";
}

main {
    min-height: calc(100vh - 285px);
    padding-bottom: 3rem;
}