.custom-select:focus,
.form-control:focus {
  border-color: #3db1ff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #0096f4;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}