.iqies-site-header {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
    padding: 1.5rem 0;
    position: relative;
    z-index: 99999;
}

.iqies-site-header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
   
.iqies-logo {
    height: 40px;
    width: 147px;
}