.nav:not(.nav-tabs) .nav-link {
  border-bottom: 1px solid #d6d7d9;
  color: #212121;
}

.nav:not(.nav-tabs) .nav-link .active {
  background-color: white;
  border-left: 8px solid #0071bc;
  padding-left: 0.75rem;
}

.nav:not(.nav-tabs) .nav-link:hover {
        background-color: #f1f1f1;
        text-decoration: underline;
      }

.nav-link {
  font-weight: normal;
  padding: 1rem 1.25rem;
}

.nav-link .active {
      color: #0071bc;
      font-weight: bold;
    }

.iq-nav {
  border-top: 1px solid #d6d7d9;
}

.iq-subnav .nav-link {
    padding-left: 3rem;
  }