.iqies-page-heading {
    padding: 3rem 0;
}

.iqies-page-heading h1,
.iqies-page-heading h3 {
    line-height: 1;
}

.iqies-page-heading h1 {
    margin-bottom: 1rem;
}

.iqies-page-heading h3 {
    margin-bottom: 1rem;
}

.iqies-page-heading p,
.iqies-page-heading .lead {
    margin-bottom: 0;
}

.iqies-page-heading .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 2rem;
}

.iqies-page-heading .breadcrumb a {
    color: #0071bc;
}

.iqies-page-heading .breadcrumb-item {
    line-height: 1;
}

.iqies-page-heading .breadcrumb-item.active {
    color: #212121;
}

/* Inverted page heading */
.iqies-page-heading.inverted {
    background-color: #112e51;
    color: #fff;
    margin-bottom: 2rem;
}

.iqies-page-heading.inverted h3,
.iqies-page-heading.inverted a {
    color: #9bdaf1;
}

.iqies-page-heading.inverted .breadcrumb-item.active {
    color: #fff;
}

.iqies-page-heading .iqies-lead-two {
    margin-top: 1rem;
}

.iqies-page-heading-inline {
    margin-bottom: 2rem;
}

.iqies-page-content {
    margin-bottom: 3rem;
}