.table {
    margin-bottom: 2rem;
}

.table thead td {
    border-bottom: 2px solid #d6d7d9;
}

.table address,
.table p {
    margin-bottom: 0;
}

.table th,
.table td { 
    padding: 1.2rem;
}

.table th ~ td {
    border-bottom: 2px solid #d6d7d9;
}

.table tbody tr:last-child td {
    border-bottom: 1px solid #d6d7d9;
}

.table thead th {
    vertical-align: middle;
    font-weight: 700;
}

.table .form-check {
    padding: 0;
}

tr td:last-child {
    white-space: nowrap;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f8f8;
}

/* Sorting */
.iqies-table-sort {
    display: block;
    margin-right: 0.5rem;
}

.iqies-table-sort label {
    margin-right: 0.5rem;
}

th.sortable {
    cursor: pointer;
}

th.sortable:hover {
    text-decoration: underline;
}

th.sortable span {
    display: inline-block;
}

th.sortable span {
    background: url('../images/icon-sort-default.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem;
}

th.sortable.ascending span {
    background: url('../images/icon-sort-ascending.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem;
}

th.sortable.descending span {
    background: url('../images/icon-sort-descending.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 1.2rem;
}
