.iq-conditional-content,
.iq-nested-conditional-content {
  display: none;
}

.iq-required-text {
  font-size: .875rem;
}

.table td {
  vertical-align: middle;
}

.custom-control-label {
  font-weight: 400;
}

.dropdown-menu .dropdown-item:hover {
  font-weight: 700;
  color: #0071bc;
}
