// Global typography, fonts & typographic elements
h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1.25rem;

  .iq-heading-subtext {
    margin-left: 1rem;
  }
}

h4 {
  margin-bottom: 1.25rem;
}

h5 {
  margin-bottom: 1rem;
}

h6 {
  margin-bottom: 1rem;
}

legend {
  font-size: $font-size-base;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  word-break: break-word;
}

small {
  // font-size: $font-size-small;
}

.title {
  // font-size: $iq-heading-title-size;
}

.iq-asterisk {
  color: $iq-color-error;
}

.iq-not-available {
  // color: $iq-color-gray-alt;
  font-style: italic;
}

.iq-required-text {
  // font-size: $font-size-small;
  margin-bottom: 2rem;
}

.iq-no-results {
  // color: $iq-color-gray-alt;
  font-size: $font-size-base;
  font-style: italic;
}
