.page-link {
  #first,
  #previous {
    @include media-breakpoint-up(lg) {
      margin-right: 0.5rem;
    }
  }

  #last,
  #next {
    @include media-breakpoint-up(lg) {
      margin-left: 0.5rem;
    }
  }
}

.page-item.active {
  span:hover {
    cursor: default;
  }
}

.iq-pagination-end {
  &:hover {
    background-color: $white;
    color: $iq-color-gray;
  }
  .iq-icon-small:hover {
    // fill: $iq-color-gray;
    fill: #da4567;
  }
}
