.modal {
  background-color: rgba($iq-color-base, 0.5);
}

.modal-title {
  font-size: $h3-font-size;
  margin-bottom: $iq-margin-small;
}

.modal-body {
  padding-bottom: 1rem;

  p:not(.modal-title) {
    margin: 0;
  }
}

.modal-footer {
  justify-content: flex-start;
  padding-top: 1rem;
}

.iq-modal {
  // display: block;
}
