.badge-pill {
  svg {
    height: 0.5rem;
    width: 0.5rem;
  }
  .close {
    font-size: 0;
  }
}
.badge-light {
  background-color: $iq-color-gray;
}
.iq-pill-clear-all {
  background-color: $black;
  color: $white;
}
