pre {
  display: block;
  font-family: monospace;
  padding: 1rem;
  margin: 0 0 1rem;
  line-height: 1.42;
  color: #333;
  white-space: pre-wrap;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

h4 {
  margin-top: 2.5rem;
}

.iq-accordion {
  margin-bottom: 1rem;
}

.iq-callout {
  background-color: #f8f8f8;
  padding: 1.5rem;
  margin-top: 1rem;
}

.iq-callout p {
  margin-bottom: 0;
}

/* Fluid containers */

.container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media screen and (max-width: 992px) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
