.iqies-login-hero {
  background-image: url(/static/media/image-home-hero.3086d0f0.jpg);
  background-position: 50%;
  background-size: cover;
  min-height: calc(86vh - 88px);
  padding: 0;
}

@media (min-width: 768px) .iqies-login-hero .iqies-login-welcome {
  height: 100px;
  min-height: calc(100vh - 8rem);
  padding-top: 100px;
}

.iqies-login-hero .iqies-login-welcome,
.login-screen-inner {
  padding-top: 100px;
}

.iqies-login-hero .iqies-login-welcome p {
  font-size: 2rem;
}

.iqies-login-hero .iqies-login-welcome h1 {
  font-size: 3.75rem;
}

.iqies-login-hero h1,
.iqies-login-hero p {
  color: #112e51;
}

.iqies-login-hero .login-screen-inner .iqies-img-right img {
  height: 16px;
  width: 16px;
}

.iqies-login-hero .login-screen-inner img {
  margin-bottom: 2px;
  margin-left: 8px;
  min-height: 1px;
}

.iqies-login-hero .login-screen-inner .iqies-img-left img {
  margin-bottom: 2px;
}

.iqies-login-hero .login-screen-inner img.iqies-icon-left {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 12px;
  max-height: 15px;
  max-width: 15px;
}

.iqies-button-wrapper .btn:not(.btn-link),
.iqies-button-wrapper a:not(.btn-link) {
  min-width: 112px;
}

.iqies-login-hero .login-screen-inner .iqies-button-wrapper {
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.toast-info {
  background-color: white;
}

.toast .toast-header {
  font-weight: 700;
}

.toast {
  max-width: 300px;
  width: 300px;
}

.iq-dashboard-header {
  /* margin-top: 2.5rem; */
}

.iq-kanban-lane {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f1f1f1;
}

.iq-kanban-lane-heading {
  font-weight: bold;
}

.iq-kanban-lane .iq-card {
  margin-bottom: 1rem;
}

.dash-card a {
  font-weight: normal;
}

.btn-tiny {
  padding: 0 4px 0 8px;
}

.btn-tiny img {}

.card-body div {
  margin-bottom: 8px;
}

.dash-card-header {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 14px !important;
}

.dash-card img {
  margin-right: 5px;
}

.card-default {
  border-top: 2px solid #bfbfbf;
}

.card-success {
  border-top: 2px solid #2E8540;
}

.card-alert {
  border-top: 2px solid #CD2026;
}

.card-warning {
  border-top: 2px solid #FDB81E;
}

.iq-kanban-lane {
  margin-right: 10px;
  border-radius: 6px 6px 6px 6px;
}

.iq-kanban-lane:last-of-type {
  margin-right: 0;
}

.iq-dashboard-header p {
  margin-right: 20px;
}

#iq-icons-tab-group {
  margin-top: 1.5rem;
}

header nav a {
  margin-right: 4rem;
  font-weight: normal;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: none;
}

header nav a .iq-icon {
  margin-left: .5rem;
}

.nav-icons .dropdown {
  margin-right: 1rem;
}

/* .dropdown-menu {
  margin-top: 2.12rem;
}

.iq-card .dropdown-menu {
  margin-top: 5px;
} */
#dropdownMenu2 {
  border: 0;
  background-color: transparent;
  padding: 0;
  /* float: right; */
  /* margin-top: 3px; */
  /* margin-left: 18px; */
}

.custom-select {
  background: none;
}

.card-body .dropdown-toggle::after {
  display: inline;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
