.container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media screen and (max-width: 992px) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
