pre {
  display: block;
  font-family: monospace;
  padding: 1rem;
  margin: 0 0 1rem;
  line-height: 1.42;
  color: #333;
  white-space: pre-wrap;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

a {
  font-weight: 400;
}

h4 {
  margin-top: 2.5rem;
}

.iq-accordion {
  margin-bottom: 1rem;
}

.iq-callout {
  background-color: #f8f8f8;
  padding: 1.5rem;
  margin-top: 1rem;
}

.iq-callout p {
  margin-bottom: 0;
}

.nav-tabs .nav-link {
  text-decoration: none;
}

.table th {
  white-space: normal;
}

.fa-check {
  color: #2e8540;
}

.iq-nav-alt {
  border-top: none;
}

.iq-download-wrapper {
  margin-bottom: 1rem;
}

.iq-download-card {
  height: 100%;
  padding-top: .5rem;
}

.iq-download-heading {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.iq-download-icon {
  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  right: 0;
  margin-right: 1rem;
}

.iq-download-details {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.iq-nav-alt.nav:not(.nav-tabs) .nav-link {
  border-bottom: none !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #0071bc;
}
.iq-nav-alt.nav:not(.nav-tabs) .nav-link:hover {
  background-color: transparent;
}

.iq-nav-alt.nav:not(.nav-tabs) .nav-link.active {
  border-left: none;
  padding-left: 1.25rem;
  color: #212121;
}

/* Fluid containers */
.container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media screen and (max-width: 992px) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
