header {
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 1.5rem 0;
  position: relative;
  z-index: 10;

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.iq-logo {
  height: 40px;
  width: 147px;
}
